@{
    ViewData["Title"] = "Contact";
}

<h1 class="label label-default">Contact Information&nbsp;<i class="fa fa-info-circle"></i></h1>
<h1 class="page-header">Christopher Kurek</h1>

<address>
    <i class="fa fa-map-marker"></i>&nbsp;
    Rockford, IL 61109<br />
    <i class="fa fa-mobile"></i>&nbsp;
    (815) 440-8231
</address>

<address>
    <i class="fa fa-envelope-o"></i>&nbsp;
    <a href="mailto:cakurek1@gmail.com">cakurek1@gmail.com</a><br />
</address>