<div class="label label-default">Featured Project&nbsp;<i class="fa fa-star"></i></div>

<h1 class="page-header"><a href="http://ec2-54-213-201-76.us-west-2.compute.amazonaws.com:8080/" target="_blank">nLobby/Snake</a></h1>
View source on GitHub:&nbsp;&nbsp;<a href="https://github.com/krkc/nlobby" target="_blank"><i class="fa fa-github"></i></a>
<div id="FeaturedProject" class="jumbotron">
    <h2 class="lead">HTML5 game lobby written in node.js with multiplayer Snake game written in JavaScript</h2><br /><br />
    <div class="well text-info">Note: In order to play snake, two people must visit the game lobby. Once the other player appears under "Connected Users" you can click on their ID box to invite them to play.</div>
    <h1 class="page-header"><a href="http://ec2-54-213-201-76.us-west-2.compute.amazonaws.com:8080/" target="_blank"class="btn btn-lg btn-success">Enter Game Lobby</a></h1>
    <span>Screenshot of multiple users in game lobby:</span>
    <div class="well">
        <a href="http://ec2-54-213-201-76.us-west-2.compute.amazonaws.com:8080/" target="_blank"><img src="~/images/nlss2.png" alt="Node.js Game Lobby" class="img-responsive img-responsive" /></a>
    </div>
</div>